.footer {
    width: 1440px;
    height: 150px;
}

.footer span {
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: black;
}


.link-bar-footer {
    margin-top: 52px;
    text-align: center;
}

.link-bar-footer a {
    margin-right: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: black;
    font-family: merienda;
}

.footer-divider {
    text-align: center;
    margin-top: 30px;
}

.footer-divider img {
    margin: 0 25px;

}